Included uuid version

Hi there,

I see you have bundled a version of the UUID lib that can be used by the build with the `use_default_uuid` option. What version of UUID is this? Is there any particular reason to use the OS version over this?

FYI @lmazuel 

@annatisch 

Many low end platforms (think microcontrollers with 256K RAM and 1-2M of flash) do not necessarily come with libraries to generate uuids.
Additionally binding to those libraries would require extra code to be written when porting to those platforms.

Thus we implemented section 4.4 of RFC 4122 (https://tools.ietf.org/html/rfc4122#page-14), which generates uuid from pseudo random number generators. That level of uniqueness is more than enough for the purposes of the SDK. If another type of UUID is needed then the user would need to go and use a library that generates UUIDs based on not only the random number generator, but also MAC address et all.

And that's is the answer to your second question ("Is there any particular reason to use the OS version over this?")
Yes, if one is on an OS (like Windows, Linux) that provides a fully fledged UUID library that can take advantage of using time and MAC address then it is preferred to use that.

Also it depends on the use case. If the UUID values are to be used only in the context of one machine generating them (for example message Ids for a stream of messages from the same source that go over only one connection, etc.) then it is enough to use the UUIDs based on random number generator.
But if the uniqueness is needed across machines and time then it is clearly needed to use libraries that provide those kind of UUID values.

Hope this helps!
/Dan

@dcristoloveanu - Perfect! Thank you so much for this context :)

@annatisch thank you for your contribution to our open-sourced project!  Please help us improve by filling out this 2-minute [customer satisfaction survey](https://www.surveymonkey.com/r/Q5PLZ3V).